body {
    margin: 0 auto;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 50px;
}

/* Header */

.header {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    z-index: 10;
    position: fixed;
}

.header a {
    text-decoration: none;
    color: white;
    opacity: .4;
    padding-left: 20px;
    display: inline-flex;
}

.header a:hover {
    opacity: 1;
    transition-duration: 500ms;
}

.logo {
    text-shadow: 0 0 3px rgb(85, 85, 85); 
}

.menu {
    margin-top: 22px;
    display: inline-flex;
}

.menu li {
    display: flex;
}

.menu-item {
    padding: 0 20px 0 0;
    display: flex;
    text-decoration: none;
    color:white;
    opacity: .4;
}

.menu-item:hover {
    transition-duration: 500ms;
    opacity: 1;
}

/* Sections menu */

main {
    width: 100%;
    margin: 0 auto;
}

.home-cards {
    display: grid;
    grid-template-areas: 'papel plastico tecido';
    margin: 0 auto;
    width: 100%;
    align-content: center;
    height: 100vh;
}

.titulo-card {
    position: relative;
    color: white;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    align-items: center;
}

#card-papel {
    background-image: url(./Assets/pexels-joão-vítor-heinrichs-1787034.jpg);
    background-position: bottom;
    grid-area: papel;
}

#card-plastico {
    background-image: url(./Assets/pexels-nadi-lindsay-4492677.jpg);
    background-position: center;
    grid-area: plastico;
}

#card-tecido {
    background-image: url(./Assets/pexels-perchek-industrie-5238059.jpg);
    background-position: center;
    grid-area: tecido;
}